name: Publish to npm

on:
  workflow_dispatch:
    inputs:
      raw-increment:
        description: "Version increment (major, minor, patch, premajor, preminor, prepatch, or specific version)"
        required: false
        default: "auto"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  release:
    name: Release
    if: github.repository == 'sushichan044/cc-hooks-ts'
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      id-token: write
      contents: write
      packages: write
      pull-requests: write
      issues: read
    steps:
      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-node-pnpm
        with:
          registry-url: "https://registry.npmjs.org"

      - name: Setup latest npm to use trusted publish
        run: |
          npm install -g npm@latest

      - name: Release with automatic version increment
        if: ${{ github.event.inputs.raw-increment == 'auto' }}
        run: pnpm exec release-it
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release with specified version increment
        if: ${{ github.event.inputs.raw-increment != 'auto' }}
        run: pnpm exec release-it --increment=${{ github.event.inputs.raw-increment }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
